*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    background-color: #333;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.calculator > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #000;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    transition: background-color 0.1s;
    margin: 5px;
    border-radius: 10px;
}

.calculator > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.operator {
    background-color: #ff9500 !important;
    color: white;
}

.operator:hover {
    background-color: #e08b00 !important;
}

.display {
    grid-column: 1 / -1;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
    margin-bottom: 10px;
}

.display .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.display .current-operand {
    color: white;
    font-size: 2.5rem;
}