services:
  web:
    image: nginx:latest
    container_name: web_server
    ports:
      - "8080:80"
    volumes:
      - html:/usr/share/nginx/html
    # Reinicia el contenedor si se detiene, a menos que se detenga manualmente.
    restart: always